@charset:"utf-8";

@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
body{
    /*font-family: "Microsoft YaHei","微软雅黑";*/
    font-family: punctuation, PingFangSC-Regular, "Microsoft YaHei", "微软雅黑";
}
/*顶部广告条*/
.wrgg{
	height: 33px;
	line-height: 33px;
	text-align: center;
	font-size: 12px;
	color: #fff;
	background-color: #002050;
}
.wrgg a{
	color: #fff;
	text-decoration: underline;
}
/*logo、搜索等等*/
.header{
	padding: 0  12px ;
	background: #F5F5F5;
	border-bottom:1px solid transparent; 
}
.header .cw{
    height: 59px;
}
.u_logo{
	position: relative;
	top: 19.5px;
	float: left;
	display: inline-block;
	width:95px;
	height:20px;
	line-height: 20px;
	background:url(../images/logo.jpg) 0 0 no-repeat;
}
.u_icon{
	float: right;
	margin-top: 14px;
}
.u_search,.u_shopcar,.u_user{
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 25px;
  line-height: 20px;
  color: #555;
  margin-left: 21px;

}

.user_box{
	position: relative;
	display: inline-block;
	margin-left: 15px;
    padding: 5px 8px 10px 2px;
    text-align: center;
    border: 1px solid transparent;
}
.u_user{
	margin-left: 0;

}
.u_user :after{
	background: #F00;
}
.h_search{
	position: relative;
	height: 30px;
	width: 100%;
    padding-bottom: 10px;
}
.h_search_input{
    display: block;
    height: 28px;
    border: 1px solid #000;
    padding: 1px 30px 1px 10px;
    background-color: #fff;

}
.h_search_input input{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.h_search_btn {
	position: absolute;
	right: 10px;
	top: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 25px;
  line-height: 20px;
  color: #555;
  margin-left: 21px;
}
/*登陆*/
.user_box_active{
	background-color: #FFF;

	border: 1px solid #ccc;
}
.user_box_active :after{
   position:absolute;
   left: 0;
   bottom: 0;
   content: "";
   display: block;
   width:28px;
   height: 0;
   border: 1px solid #fff;
   z-index: 3;
}
.login_content{
 position:absolute;
 right: -1px;
 bottom:-290px;
 width: 225px;
 height: 290px;
 background-color: #fff;
 border: 1px solid #e0e0e0;
 z-index: 2;
}
.lc_userlinks{
	margin-top: 10px;
	margin-left: 32px;
	text-align: left;

}
.login_content h4{
	width: 185px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	font-weight: normal;
}
.login_content li{
	width: 185px;
	height: 45px;
	line-height: 45px;
}
.login_content li a{
	font-size: 14px;
	color: #000;
}
.lc_userfns a{
  display: inline-block;
  width: 166px;
  height: 40px;
  font-size: 16px;
  color: #000;
  line-height: 40px;
  background-color: #bbd80a;
}
/*导航*/
.nav{
	position: relative;
	height: 50px;
	border-bottom: 1px solid #ccc;
	width: 100%;
	background-color: #fff;
}
.mr{
float: left;
  font-size: 16px;
  line-height: 50px;
  padding-left: 19px;
   color: #0078d7;
}
.menu{
 width: 20px;
 height: 49px;
 float: right;
 padding:0 12px;
 font-size: 20px;
 line-height: 50px;
 font-weight: normal;
 color: #0078d7;
}
.nav .active{
  position: relative;
  
  border:1px solid #e0e0e0;
  border-color:#e0e0e0 #fff #fff #e0e0e0;

}
.nav_list{
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	background: #fff;
}
.nav_list li a{
	height: 45px;
	line-height: 45px;
	margin-left: 25px;
	font-size: 14px;
}
.nav_down,.nav_up{
	float: right;
	padding-right: 12px;
}
.nav_list ul{
    padding-left: 20px;

}
.nav_list ul a{
    color: #555;
    
}
/* 推荐图*/
.banner .cw{
     margin: 0 12px;
}
.banner img{
	margin-bottom:10px;
}
.b_left{
  width: 100%;
}
.b_left img{
  width: 100%;
}
.b_right{
  width: 100%;

}
.b_right img{
  width: 100%;
}
.pc1,.pc2{
  display: none;
}
/*产品列表*/
.product{

}
.product .cw{
	margin: 0 12px;
}
.pro_name{
	
}
.pro_name li{
	display: inline-block;
	width: 49%;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	text-indent: 10px;
}
.pro_list1 li{
	float: left;
    width: 49%;
}
.pro_list1 li:nth-child(2n){
	float: right;
}
.pro_list1 li img{
	width: 100%;
}
.pro_list1 li p{
	font-size: 14px;
	line-height: 18px;
	min-height: 90px;
}
/*新品列表*/
.newpro_list{

}
.problock{
  position: relative;
  height: 102px;
  padding: 32px 0 60px;
  border-bottom: 1px solid #ccc;

}
.desc{
 
 float: right;
 width: 70%;
}
.desc a{
	display: block;
	
}
.problock .img{
	float: left;
	width: 30%;
}
.problock .img img{
	
	width: 100%;
}
.problock h4{
	height: 60px;
    color: #666;
    font-size: 16px;
    font-weight: normal;
}
.problock .price{
	height: 60px;
	font-size: 16px;
	color: red;
}
.problock .btn{
   position: absolute;
   right: 0;
   bottom: 20px;
   width: 100px;
   height: 35px;
   font-size: 14px;
   text-align: center;
   background-color: #ec5411;
}
.problock .btn a{
	display: block;
	height: 100%;
	 color:#fff;
	 line-height: 35px;
}
/*店长推荐开始*/
.rec{
  padding-top: 51px;
}
.rec_icon{
	display: none;
}
.rec .titl{
 
}
.rec .titl li{
	cursor: pointer;
	float: left;
	text-indent: 10px;
    line-height: 46px;
    font-size: 16px;
	width: 50%;
	box-sizing: border-box;
    height: 46px;
    color: #aaa;
    border-bottom: 1px solid #ccc;
}
.rec .titl .active{
	border: 1px solid #ccc;
	border-bottom: none;
	color: #555;
}
.rec_goods{
	width: 100%;
}
.rec_goods li{
	width: 100%;
}
.rec_goods li a{
   display: block;
   width: 100%;
}
.rec_goods li a img{
   width: 100%;
}
.rec_goods li a .pc_rec{
	display: none;
}

/*四大承诺*/
.promise_box{
	margin-top: 20px;
}
.promise_box p{
	height:30px;
	line-height: 30px;
	font-size: 16px;
	color: #777; 
}
.promise_box p{
	text-align: center;
}
.prom_mlist{
	text-align: center;
}
.prom_mlist a{
	position: relative;
  display: inline-block;
  width: 90px;
  height: 30px;
  line-height: 30px;
  margin-left: 30px;
  font-size: 12px;
  color: #777; 
  text-align: left;
}
.prom_mlist a:before{
   content: "";
    display: inline-block;
    position: absolute;
    left: -25px;
    top: 5px;
    width: 20px;
    height: 20px;
}
.prom_mlist a:nth-child(1):before{
    background: url(../images/prom_m1.png) 0 0 no-repeat;
}
.prom_mlist a:nth-child(2):before{
    background: url(../images/prom_m2.png) 0 0 no-repeat;
}
.prom_mlist a:nth-child(3):before{
    background: url(../images/prom_m3.png) 0 0 no-repeat;
}
.prom_mlist a:nth-child(4):before{
    background: url(../images/prom_m4.png) 0 0 no-repeat;
}
/*底部*/
.footer{
	background-color: #eee;
}
.footer_bar{
	margin:26px 12px 0;
}
.footer_signup{
	padding:15px 0;
	height: 96px;
}
.footer_signup span{
	line-height: 30px;
	height: 30px;
	font-size: 16px;
}
.footer_inputbox{
	position: relative;
	height: 28px;
	line-height: 28px;
	background: #fff;
	border: 1px solid #ccc;
	padding-right: 90px;

}
.footer_inputbox input{
	width: 100%;
	padding: 1px 10px;
	box-sizing: border-box;

}
.footer_inputbox span{
	position: absolute;
	right: 0;
	top: -1px;
	width: 80px;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	background: #3aa5d7;
	color: #fff;
	text-align: center;
	cursor:pointer;
}
.footer_signup a{
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	text-decoration: underline;
	color: #555;
}
.footer_bar ul a{
     color: #555;
}
.footer_bar>ul>li{
	border-top: 1px solid #ccc;
	color: #555;
}
.footer_bar>ul>li>span{
	display: block;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
}
.footer_bar>ul>li>ul{
	padding-left: 20px;

}
.footer_bar>ul>li>ul>li{
	height: 30px;
	line-height: 30px;
}
.footer_bar .xinlang{
	display: inline-block;
	height: 25px;
	width: 30px;
	background: url(../images/link_xinlang.png) 0 0 no-repeat;

}
/*版权*/
.copyright{
	background-color: #f2f2f2;
	line-height: 40px;
	font-size: 12px;
}
.copy_box{
  margin: 0 12px;
}
.copyright span{
	display: inline-block;
	height: 40px;
	margin-right: 15px;
}
.copyright .cr_icon{
	display: inline-block;
	position: relative;
	top: 5px;
	width:20px;
	height: 20px;
	background:url(../images/copyright.png) 0 0 no-repeat;
}

/*公用*/
.pcshow,.pcwshow{
	display: none;
}
.hide{
	display: none;
}
.padshow{
	display:none;
}
